{erl_opts, [no_debug_info]}.
{deps, [
  {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}},
  {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.
{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
  %% Uses the progress formatter with ANSI-colored output
]}.

{escript_incl_apps,
 ['coinchanger']}.
{escript_top_level_app, 'coinchanger'}.
{escript_name, 'coinchanger'}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
